@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Freckle+Face);

h1 {
	font-family: 'Freckle Face', cursive;
	font-size: 30px;
	font-style: bold;
	color:#FFF;
	text-align: center;
	margin-right: 3em;
	margin-top: 3em;
}

ul {
	color: #E80C7A;
	text-align: center;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px
	font-style: normal;
	color: #FFF;
	text-align: center;
	margin-top: 3em;
	margin-left: 3em;
}

body {
    background-image: url("http://i6.photobucket.com/albums/y239/limecrime/graphics/unicorn_LRG.jpg");
    background-color: #E80C7A;
    background-size: cover;
}