
h1 {
	font-family: Helvetica, sans-serif;
	font-size: 30px;
	font-style: bold;
	color:#FFF;
	text-align: left;
}

ul {
	color: #E80C7A;
}

p {
	font-family: Helvetica, sans-serif;
	font-size: 16px
	font-style: normal;
	color: #FFF;
	text-align: left;
}

body {
    background-image: url("https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&ved=0ahUKEwin1f7U7PjNAhWBGT4KHUUNBWkQjRwIBw&url=http%3A%2F%2Fwww.doedeereblogazine.com%2Farticles%2Funicorn-in-the-snow%2F&psig=AFQjCNGwizFs3ScU_QKd2zzmfo4xNekP3w&ust=1468788221151917");
    background-color: #E80C7A;
    background-size: cover;
}